**/Gen
**/src/gen
*.iml
*.ipr
*.iws
*.log
*.rs.bk
.AppleDouble
.apt_generated
.classpath
.DS_Store
.factorypath
.gradle
.idea
.LSOverride
.project
.settings
.vagrant
/bin
/build
/target
__pycache__
org.s7s.build.json
node_modules
xcuserdata
