[submodule "plugin/com.sandpolis.plugin.desktop"]
	path = plugin/com.sandpolis.plugin.desktop
	url = ../com.sandpolis.plugin.desktop
[submodule "plugin/com.sandpolis.plugin.device"]
	path = plugin/com.sandpolis.plugin.device
	url = ../com.sandpolis.plugin.device
[submodule "plugin/com.sandpolis.plugin.shell"]
	path = plugin/com.sandpolis.plugin.shell
	url = ../com.sandpolis.plugin.shell
[submodule "com.sandpolis.agent.micro"]
	path = com.sandpolis.agent.micro
	url = ../com.sandpolis.agent.micro
[submodule "com.sandpolis.client.ascetic"]
	path = com.sandpolis.client.ascetic
	url = ../com.sandpolis.client.ascetic
[submodule "com.sandpolis.client.lifegem"]
	path = com.sandpolis.client.lifegem
	url = ../com.sandpolis.client.lifegem
[submodule "com.sandpolis.server.vanilla"]
	path = com.sandpolis.server.vanilla
	url = ../com.sandpolis.server.vanilla
[submodule "com.sandpolis.client.soapstone"]
	path = com.sandpolis.client.soapstone
	url = ../com.sandpolis.client.soapstone
[submodule "com.sandpolis.client.lockstone"]
	path = com.sandpolis.client.lockstone
	url = ../com.sandpolis.client.lockstone
[submodule "plugin/com.sandpolis.plugin.snapshot"]
	path = plugin/com.sandpolis.plugin.snapshot
	url = ../com.sandpolis.plugin.snapshot
[submodule "com.sandpolis.agent.vanilla"]
	path = com.sandpolis.agent.vanilla
	url = ../com.sandpolis.agent.vanilla
