# Gradle directories
.gradle

# Build directories
build
bin

# Eclipse metadata
.project
.classpath
.settings

# IDEA metadata
.idea

# Nested repositories
com.sandpolis.server.cloud
com.sandpolis.server.demo
com.sandpolis.client.mega.demo

# Annotation processor
.apt_generated
.factorypath

# Generated directories
**/gen/main/java
**/gen/main/cpp