[package]
authors = ["Tyler Cook"]
description = "Ultimate remote monitoring and management"
edition = "2021"
license = "AGPL-3.0-only"
name = "sandpolis"
repository = "https://github.com/fossable/sandpolis"
rust-version = "1.74"
version = "0.0.1"

[build-dependencies]
built = { version = "0.7", features = ["cargo-lock", "dependency-tree", "git2", "chrono", "semver"] }

[dependencies]
anyhow = "1.0.76"
clap = { version = "4.4.7", features = ["derive", "string"] }
couch_rs = { version = "0.10.1", default-features = false, features = ["couch_rs_derive", "derive", "rustls-tls"] }
futures = "0.3.30"
os_info = "3.8.2"
rand = "0.8.5"
reqwest = { version = "0.12.5", default-features = false, features = ["stream", "cookies", "json", "rustls-tls", "charset"] }
serde_bytes = "0.11.15"
serde = { version = "1.0.203", features = ["derive"] }
strum = { version = "0.26.3", features = ["derive"] }
tokio = { version = "1.39.3", default-features = false, features = ["rt", "macros"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
uuid = { version = "1.10.0", features = ["v7", "serde"] }
dialoguer = { version = "0.11.0" }

# Server dependencies
axum-macros = { version = "0.4.1", optional = true }
axum-server = { version = "0.6.0", features = ["tls-rustls"], optional = true }
axum = { version = "0.7.4", optional = true }
rcgen = { version = "0.13.1", optional = true }

# Client dependencies
bevy = { version = "0.14.0", optional = true }
bevy_egui = { version = "0.28.0", optional = true }
bevy_rapier2d = { version = "0.27.0", optional = true }
egui = { version = "0.28", optional = true }

# Agent dependencies
sysinfo = { version = "0.30.13", optional = true }

[features]
server = [ "dep:axum", "dep:axum-server", "dep:axum-macros", "dep:rcgen", "local-database" ]
agent = [ "dep:sysinfo" ]
probe = [ "agent" ]
client = [ "dep:bevy", "dep:bevy_rapier2d", "dep:bevy_egui", "dep:egui" ]

# Layers
layer-account = []
layer-alerts = []
layer-desktop = []
layer-filesystem = []
layer-health = []
layer-inventory = []
layer-logging = []
layer-packages = []
layer-shell = []

default = [ "local-database", "layer-desktop", "layer-filesystem", "layer-shell", "layer-inventory", "layer-account", "layer-logging" ]
local-database = []
wayland = [ "bevy/wayland" ]
rcgen = ["dep:rcgen"]
