[package]
authors = ["Tyler Cook"]
description = "Virtual estate monitoring & management!"
edition = "2024"
license = "Unlicense"
name = "sandpolis"
repository = "https://github.com/fossable/sandpolis"
rust-version = "1.89"
version = "8.0.0"

[build-dependencies]
built = { version = "0.7", features = ["git2", "chrono", "semver"] }

[dependencies]
anyhow = { workspace = true }
axum-macros = { workspace = true }
axum-server = { workspace = true }
axum = { workspace = true }
clap = { workspace = true }
colored = { workspace = true }
fossable = "0.1.2"
futures = { workspace = true }
native_db = { workspace = true }
os_info = { workspace = true }
rand = { workspace = true }
rustls = { workspace = true }
sandpolis-agent = { path = "../sandpolis-agent", version = "0.0.1" }
sandpolis-account = { path = "../sandpolis-account", version = "0.0.1", optional = true }
sandpolis-audit = { path = "../sandpolis-audit", version = "0.0.1", optional = true }
sandpolis-client = { path = "../sandpolis-client", version = "0.0.1" }
sandpolis-core = { path = "../sandpolis-core", version = "0.0.1" }
sandpolis-database = { path = "../sandpolis-database", version = "0.0.1" }
sandpolis-deploy = { path = "../sandpolis-deploy", version = "0.0.1", optional = true }
sandpolis-desktop = { path = "../sandpolis-desktop", version = "0.0.1", optional = true }
sandpolis-filesystem = { path = "../sandpolis-filesystem", version = "0.0.1", optional = true }
sandpolis-realm = { path = "../sandpolis-realm", version = "0.0.1" }
sandpolis-instance = { path = "../sandpolis-instance", version = "0.0.1" }
sandpolis-macros = { path = "../sandpolis-macros", version = "0.0.1" }
sandpolis-network = { path = "../sandpolis-network", version = "0.0.1" }
sandpolis-inventory = { path = "../sandpolis-inventory", version = "0.0.1", optional = true }
sandpolis-wake = { path = "../sandpolis-wake", version = "0.0.1", optional = true }
sandpolis-probe = { path = "../sandpolis-probe", version = "0.0.1", optional = true }
sandpolis-server = { path = "../sandpolis-server", version = "0.0.1" }
sandpolis-shell = { path = "../sandpolis-shell", version = "0.0.1", optional = true }
sandpolis-snapshot = { path = "../sandpolis-snapshot", version = "0.0.1", optional = true }
sandpolis-user = { path = "../sandpolis-user", version = "0.0.1" }
serde_json = { workspace = true }
serde = { workspace = true }
strum = { workspace = true }
tempfile = { workspace = true }
tokio-stream = { workspace = true }
tokio = { workspace = true }
tower-http = { workspace = true }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
tracing = { workspace = true }
validator = { workspace = true }

# Terminal client exclusive
ratatui = { workspace = true, optional = true }
ratatui-image = { workspace = true, optional = true }
image = { workspace = true, optional = true }
tui-popup = { workspace = true, optional = true }

# GUI client exclusive
bevy = { workspace = true, optional = true }
bevy_egui = { workspace = true, optional = true }
bevy_svg = { workspace = true, optional = true, features = ["2d"] }
bevy_rapier2d = { workspace = true, optional = true }
bevy_stl = { workspace = true, optional = true }
egui-file-dialog = { workspace = true, optional = true }
egui_console = { workspace = true, optional = true }
egui_extras = { workspace = true, optional = true }

[dev-dependencies]
# For running egui components as examples for testing
eframe = { workspace = true }

[features]
# Instances
server = [
  "sandpolis-desktop?/server",
  "sandpolis-filesystem?/server",
  "sandpolis-instance/server",
  "sandpolis-network/server",
  "sandpolis-inventory?/server",
  "sandpolis-wake?/server",
  "sandpolis-realm/server",
  "sandpolis-server/server",
  "sandpolis-shell?/server",
  "sandpolis-user/server",
]
agent = [
  "sandpolis-agent/agent",
  "sandpolis-desktop?/agent",
  "sandpolis-filesystem?/agent",
  "sandpolis-instance/agent",
  "sandpolis-network/agent",
  "sandpolis-inventory?/agent",
  "sandpolis-wake?/agent",
  "sandpolis-realm/agent",
  "sandpolis-shell?/agent",
]
client = [
  "sandpolis-client/client",
  "sandpolis-instance/client",
  "sandpolis-network/client",
  "sandpolis-realm/client",
  "sandpolis-server/client",
  "sandpolis-user/client",
]

# Layers
layer-account = ["dep:sandpolis-account"]
layer-audit = ["dep:sandpolis-audit"]
layer-deploy = ["dep:sandpolis-deploy"]
layer-desktop = ["dep:sandpolis-desktop"]
layer-filesystem = ["dep:sandpolis-filesystem"]
layer-health = []
layer-inventory = ["dep:sandpolis-inventory"]
layer-shell = ["dep:sandpolis-shell"]
layer-snapshot = ["dep:sandpolis-snapshot"]
layer-probe = ["dep:sandpolis-probe"]
layer-wake = ["dep:sandpolis-wake"]
layer-tunnel = []

# Enable all layers
default = [
  "layer-account",
  "layer-audit",
  "layer-deploy",
  "layer-desktop",
  "layer-filesystem",
  "layer-inventory",
  "layer-wake",
  "layer-probe",
  "layer-shell",
  "layer-snapshot",
  "layer-tunnel",
]

# Client features
client-gui = [
  "client",
  "dep:bevy",
  "dep:bevy_egui",
  "dep:bevy_svg",
  "dep:bevy_rapier2d",
  "dep:bevy_stl",
  "dep:egui-file-dialog",
  "dep:egui_console",
  "dep:egui_extras",
  "sandpolis-core/client-gui",
  "sandpolis-client/client-gui",
  "sandpolis-desktop?/client-gui",
  "sandpolis-filesystem?/client-gui",
  "sandpolis-instance/client-gui",
  "sandpolis-inventory?/client-gui",
  "sandpolis-network/client-gui",
  "sandpolis-probe?/client-gui",
  "sandpolis-wake?/client-gui",
  "sandpolis-server/client-gui",
  "sandpolis-shell?/client-gui",
]
# client-gui-wayland = ["client-gui", "bevy/wayland"]
client-tui = [
  "client",
  "dep:ratatui",
  "dep:ratatui-image",
  "dep:image",
  "dep:tui-popup",
  "sandpolis-client/client-tui",
  "sandpolis-desktop?/client-tui",
  "sandpolis-filesystem?/client-tui",
  "sandpolis-inventory?/client-tui",
  "sandpolis-wake?/client-tui",
  "sandpolis-shell?/client-tui",
]

[[example]]
name = "client_tui_server_list"
required-features = ["client-tui", "server"]

[[example]]
name = "client_gui_basic"
required-features = ["client-gui"]

[[example]]
name = "client_gui_filesystem"
required-features = ["client-gui", "layer-filesystem"]

[[example]]
name = "client_gui_network"
required-features = ["client-gui"]

[[example]]
name = "client_gui_activity"
required-features = ["client-gui"]

[[example]]
name = "client_gui_controllers"
required-features = ["client-gui"]

[[example]]
name = "client_gui_instance_preview"
required-features = ["client-gui"]
